nav{
  color: #fff;
  background-color: #0F52BA;
  top:0;
  right: 0;

  width: 30%;
}
.buttonCompra-container{
  bottom: 0;
}

@media(max-width: 1024px){
  nav{
    width: 50%;
  }
}

@media(max-width: 600px){
  nav{
    width: 100%;
    min-height: 100vh;
  }
}